*{
	margin:0;
	padding:0;
}

html {
    scroll-behavior: smooth !important;
}

.header{
	width:100%;
	height: 11%;
	display:block;
	background-color:rgb(52, 106, 86);
	position:fixed;
	z-index: 10;
}

.inner_header{
	width:60%;
	height:100%;
	display:block;
	margin: 0 auto;
	background-color: rgb(52, 106, 86);
}
.logo{
	height:100%;
	float:left;
	margin-left:3%;
}

.right_header{
	float:right;
	height:100%;
}

.right_header a{
	height:100%;
	display:table;
	float:left;
	margin:0px 30px;
    padding:10px 10px;
	text-decoration: none;
}
.right_header a li {
	display: table-cell;
	vertical-align: middle;
	height:100%;
	color:white;
	font-size:16pt;
	font-family:'Montserrat';
	-webkit-transition:  1000ms linear;
    -ms-transition:  1000ms linear;
}



.right_header a:last-child{
	padding-right:20px;
}

.right_header a:hover{
	background-color: white;
    
}

.right_header a li:hover{
    color:rgb(52, 106, 86);
}


.topic{
    font-family:'Montserrat';
    font-size:32pt;
    text-align:center;
    color:black;
    padding-top:7%;
}

.odd_image{
	width:50%;
    position:relative;
	/* display: inline-block; */
    float:left;
    padding:20px;
}
.odd_text{
	display: inline-block;  
	padding:20px;
	font-family:Verdana,sans-serif;
	font-size:16pt;
	width:50%;

}
.even_image{
	width:50%;
    position:relative;
	display: inline-block;
    padding:20px;
}
.even_text{
	float:left; 
	padding:20px;
	font-family:Verdana,sans-serif;
	font-size:16pt;
	width:50%;

}

.info{
    padding-top:3%;
}
.info:last-child{
    margin-top:10%;
    padding-bottom:4%;
}

.odd{
    width:80%;
    border: 1px solid black;
    background-size:contain;
    margin-left:10%;
    height:fit-content;
}

.even{
    border: 1px solid black;
    width:80%;
    background-size:contain;
    margin-left:10%;
    height:fit-content;
}


/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(52, 106, 86);;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
